backend/node_modules/

frontend/node_modules/

Activity_ReduxAuth.pdf

MernLab3-SLIDES.pdf

2025202024_todoapp/

backend/package-lock.json

backend/todos.json

backend/notes.json

frontend/package-lock.json